<div class="footer text-light">
    <h1> Why we're the Best</h1>
    <hr>
    <ul class="d-flex justify-content-around">
        <li><i class="fa-solid fa-hotel"></i></li>
        <li><i class="fa-solid fa-plane-up"></i></li>
        <li><i class="fa-regular fa-comments"></i></li>
        <li><i class="fa-regular fa-comments"></i></li>
    </ul>
    <ul class="d-flex justify-content-around text">
        <li>Lorem ipsum dolor, <br> sit amet consectetur adipisicing elit. <br> Rem, pariatur.</li>
        <li>Lorem ipsum dolor, <br> sit amet consectetur adipisicing elit. <br> Rem, pariatur.</li>
        <li>Lorem ipsum dolor, <br> sit amet consectetur adipisicing elit. <br> Rem, pariatur.</li>
        <li>Lorem ipsum dolor, <br> sit amet consectetur adipisicing elit. <br> Rem, pariatur.</li>
    </ul>
</div>