<ul class="nav justify-content-center bg-transparent fixed-top">

    <li class="nav-item">
        <a class="nav-link active text-light" aria-current="page" href=""> <i class="fa-solid fa-person-snowboarding"></i> Winter Tour</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light bg-danger" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/about">About</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-light">news</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          schudel
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link text-light">contact us</a>
    </li>
</ul>